/* ---- .grid-item ---- */
.grid {
    background: #fff;
}

/* clear fix */
.grid:after {
    content: '';
    display: block;
    clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
    width: 18.5%;
    margin-right: 0.75%;
    margin-left: 0.75%;
}

.grid-item {
    float: left;
    position: relative;
    font-size: 10px;
    a {
        color: #000000;
        display: flex;
        border: 1px solid #666;
    }
    a:hover {
        color: #000000;
    }
    span.fancybox-title {
        background-color: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        left:0;
        padding:4px;
        color: #ffffff;
        font-weight: bold;
    }
}

.grid-item img {
    display: block;
    width: 100%;
}
.grid-item {
    margin-bottom: 1.5%;
}
ul#categories {
    padding: 0px;
    margin:0px 0px 20px 0px;
}
#categories li {
    .category {
        display: flex;
    }
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
ul.contact {
    margin:0px;
    padding: 30px;
    li {
        list-style-type: none;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px) {
    ul.contact {
        li {
            list-style-type: none!important;
            font-size: 1.6rem!important;
        }
    }
}
